name: Publish NuGet

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Decode Signing Key
        run: echo "${{ secrets.SNK_FILE_BASE64 }}" | base64 --decode > Primify.snk

      - name: Authenticate with GitHub Packages
        run: |
          dotnet nuget add source \
            --username ${{ github.actor }} \
            --password ${{ secrets.GITHUB_TOKEN }} \
            --store-password-in-clear-text \
            --name github \
            "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"

      - name: Restore
        run: dotnet restore src/Primify/Primify.csproj

      - name: Build
        run: dotnet build src/Primify/Primify.csproj -c Release --no-restore

      - name: Pack
        run: dotnet pack src/Primify/Primify.csproj -c Release --no-build --output ./nupkg

      - name: Publish
        run: |
          dotnet nuget push "./nupkg/*.nupkg" \
            --source github \
            --api-key ${{ secrets.GITHUB_TOKEN }} \
            --skip-duplicate
