name: Publish NuGet

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - '.github/workflows/**'
  workflow_dispatch: # Allows manual triggering if needed

env:
  PROJECT_PATH: 'src/Primify/Primify.csproj'
  NUGET_OUT: './packages'

permissions:
  contents: read          # Read code
  packages: write         # Publish to GitHub Packages

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      # 1. Restore Signing Key
      - name: Decode Signing Key
        run: echo "${{ secrets.SNK_FILE_BASE64 }}" | base64 --decode > ${{ github.workspace }}/Primify.snk

      # 2. Pack (Automatically restores and builds)
      - name: Build & Pack
        run: dotnet pack ${{ env.PROJECT_PATH }} -c Release -o ${{ env.NUGET_OUT }}

      # 3. Push to GitHub Packages
      - name: Push to GitHub Registry
        run: |
          dotnet nuget push "${{ env.NUGET_OUT }}/*.nupkg" \
            --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" \
            --api-key "${{ secrets.GITHUB_TOKEN }}" \
            --skip-duplicate
